#home-hero-bg {
    background-image: url('https://res.cloudinary.com/devsprout2023/image/upload/q_auto/w_1920/v1702415588/gqgsstewkt3gbi7jq3dh.webp');
}

#image-set-with-css {
    background-image: url("https://res.cloudinary.com/devsprout2023/image/upload/q_auto/w_400/v1702415594/t3p7cr6pv45hzz4pooip.webp");
    background-size: cover;
    width: 400px;
    height: 600px;
}